@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), url(./fonts/NotoSans-Bold.ttf) format('ttf');
}

body {
  background-color: azure;
}

.App {
  font-family: 'Noto Sans'; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
  background-color: #ffffff;
}

.item {
  display: flex;
  /* &&__img {
    width: 60px;
  } */
  /* width: 600px; */
  padding: 10px 5px;;
}

.item__img {
  width: 60px;
  height: 60px;
  padding: 0 10px;
}

.item__title {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.item__info {
  width: 60%;
}

.item__description {
  padding-top: 5px;
  font-size: 13px;
}

.item__price {
  color: rgb(2, 136, 209);
  font-weight: bold;;
}

.item__price-notation {
  font-weight: 400;
  position: relative;
  top: -9px;
  font-size: 10px;
  right: 0;
}